<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>servletcentric01_comp01</display-name>
   <servlet>
    <servlet-name>CustControl</servlet-name>
    <servlet-class>com.jungbo.servlet.centric.CustUserControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustControl</servlet-name>
    <url-pattern>/custCtr</url-pattern>
  </servlet-mapping>
<servlet>
    <servlet-name>CustListControl</servlet-name>
    <servlet-class>com.jungbo.servlet.centric.CustUserListControl</servlet-class>
  </servlet>
<servlet-mapping>
    <servlet-name>CustListControl</servlet-name>
    <url-pattern>/custListCtr</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustAddControl</servlet-name>
    <servlet-class>com.jungbo.servlet.centric.CustUserAddControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustAddControl</servlet-name>
    <url-pattern>/custAddCtr</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustUserDetailControl</servlet-name>
    <servlet-class>com.jungbo.servlet.centric.CustUserDetailControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustUserDetailControl</servlet-name>
    <url-pattern>/custDetailCtr</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>custBfUpdateCtr</servlet-name>
    <servlet-class>com.jungbo.servlet.centric.CustUserBeforeUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>custBfUpdateCtr</servlet-name>
    <url-pattern>/custBfUpdateCtr</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>custUpdateCtr</servlet-name>
    <servlet-class>com.jungbo.servlet.centric.CustUserUpdateControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>custUpdateCtr</servlet-name>
    <url-pattern>/custUpdateCtr</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>custDeleteCtr</servlet-name>
    <servlet-class>com.jungbo.servlet.centric.CustUserDeleteControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>custDeleteCtr</servlet-name>
    <url-pattern>/custDeleteCtr</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>custMulDelCtr</servlet-name>
    <servlet-class>com.jungbo.servlet.centric.CustUserMultiDeleteControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>custMulDelCtr</servlet-name>
    <url-pattern>/custMulDelCtr</url-pattern>
  </servlet-mapping>  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>