<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>onlyservlet01_comp02</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>custuserlist</servlet-name>
    <servlet-class>com.jungbo.only.CustListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>custuserlist</servlet-name>
    <url-pattern>/custuserlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>custadd</servlet-name>
    <servlet-class>com.jungbo.only.CustAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>custadd</servlet-name>
    <url-pattern>/custadd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getcustuser</servlet-name>
    <servlet-class>com.jungbo.only.CustDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getcustuser</servlet-name>
    <url-pattern>/getcustuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updatecustuser</servlet-name>
    <servlet-class>com.jungbo.only.CustUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatecustuser</servlet-name>
    <url-pattern>/updatecustuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>custbfupdate</servlet-name>
    <servlet-class>com.jungbo.only.CustbfUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>custbfupdate</servlet-name>
    <url-pattern>/custbfupdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>muldelcustuser</servlet-name>
    <servlet-class>com.jungbo.only.CustMulDelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>muldelcustuser</servlet-name>
    <url-pattern>/muldelcustuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>delcustuser</servlet-name>
    <servlet-class>com.jungbo.only.CustDelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delcustuser</servlet-name>
    <url-pattern>/delcustuser</url-pattern>
  </servlet-mapping>
</web-app>